h1, h2, h3, 
p {
  font-family: "Helvetica", sans-serif;
}



h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    align-content: center;
  }

  .item h3{
    font-size: 32px;
    color: white;
  }   

  #brush{
      background-color: mediumaquamarine;
  }

  
  #frame{
    background-color: lavender;
}

  
#paint{
    background-color:magenta;
}

.price {
    font-weight: bold;
    color: blue;
  }
 
  